@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Comfortaa", sans-serif;
    background-color: black;
    color: white;
}

header{
    border-bottom: 5px solid orange;
}


.container{
    width: 95%;
    margin: auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
}

.nav h2{
    font-size: 2rem;
}

.search-box{
    position: relative;
    width: 350px;
}

.search-box input{
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    border-radius: 25px;
    outline: none;
}