body{
    background: #06bcc1;
}

.container{
    display: flex;
    width: 900px;
    height: 70vh;
    padding-top: 100px;
}

.quotes{                                                        
    display: flex;
    width: 950px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    border: 0 50px;
    color: gray;
    background-color: #f4edea;
    border: 10px solid #f4d1ae;
}

.quotes p, .quotes h3 {
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 450px){
    .quotes p, .quotes h3 {
        font-size: 1rem;
    }
}

.generateButton{
    margin: 10px;
}

.clearButton{
    margin: 10px;
}