body{
    font-family: "Software Tester 7";
    background-color: black;
}

.timer-container{
    background-color: yellowgreen;
    border: 5px solid gray;
    border-radius: 2px;
    margin-top: 10%;
}

h1{
    color: white;
    text-align: center;
    font-size: 120px;
    margin: 0;
}

.start-stop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    
}

#buttoncontrol{
    width: 210px;
    height: 120px;
    font-size: xx-large;
}

#reset{
    margin-top: 35px;
    font-size: 17px;
}