.maincontainer{
    display: flex;
    background: linear-gradient(#f7e89f, #b13d3c);
}

.container, .container2{
    width: 95%;
    height: 100vh;
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.image, .image2{
    display: none;
}

.uniform-image {
    width: 2500px; 
    height: 2000px; 
    object-fit: cover; 
}

#prev, #prev2{
    position: absolute;
    color: white;
    background-color: black;
    top: 43%;
    left: 0;
    cursor: pointer;
    padding: 25px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#next, #next2{
    position: absolute;
    color: white;
    background-color: black;
    top: 43%;
    right: 0;
    cursor: pointer;
    padding: 25px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#prev:hover, #next:hover, #prev2:hover, #next2Lhover{
    background-color: rgba(0, 0, 0, 0.5);
}

.dot, .dot2{
    width: 50px;
    height: 50px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    margin: 15px;
}

.active, .active2{
    background-color: #717171;
    transition: background-color 0.6s ease;
}

.fade{
    animation: fade 1.5s;
}

@keyframes fade{
    from{opacity: 0.4};
    to{opacity: 1};
}

#Lamborgini{
    text-align: center;
    font-size: 100px;
}