body{
    background:#1a1a1a6a;
}

.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    border: 5px solid black;
    width: auto;
    height: 400px;
    margin: auto;
    padding: 50px;
    text-align: center;
    background-color: #d7d7d7fc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter h1{
    font-size: 2rem;
}

#count{
    font-size: 6rem;
}

.clear button{
    margin-top: 20px;
    width: 150px; 
    height: 75px; 
    border-radius: 20px;
    font-size: 30px;
}